In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Explore trip.csv and weathet.csv

In [7]:
dfTrip = pd.read_csv('../sf-bay-area-bike-share/trip.csv')
dfWeather = pd.read_csv('../sf-bay-area-bike-share/weather.csv')

In [100]:
dfTrip.shape

(669959, 11)

In [101]:
dfWeather.shape

(3665, 24)

In [8]:
dfTrip.head(6)

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103
5,4927,103,8/29/2013 18:54,Golden Gate at Polk,59,8/29/2013 18:56,Golden Gate at Polk,59,527,Subscriber,94109

In [9]:
dfWeather.head(6)

,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,...,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code
0,8/29/2013,74.0,68.0,61.0,61.0,58.0,56.0,93.0,75.0,57.0,...,10.0,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107
1,8/30/2013,78.0,69.0,60.0,61.0,58.0,56.0,90.0,70.0,50.0,...,10.0,7.0,29.0,13.0,35.0,0,2.0,NaN,291.0,94107
2,8/31/2013,71.0,64.0,57.0,57.0,56.0,54.0,93.0,75.0,57.0,...,10.0,10.0,26.0,15.0,31.0,0,4.0,NaN,284.0,94107
3,9/1/2013,74.0,66.0,58.0,60.0,56.0,53.0,87.0,68.0,49.0,...,10.0,10.0,25.0,13.0,29.0,0,4.0,NaN,284.0,94107
4,9/2/2013,75.0,69.0,62.0,61.0,60.0,58.0,93.0,77.0,61.0,...,10.0,6.0,23.0,12.0,30.0,0,6.0,NaN,277.0,94107
5,9/3/2013,73.0,67.0,60.0,59.0,56.0,51.0,84.0,65.0,46.0,...,10.0,10.0,24.0,15.0,31.0,0,2.0,NaN,276.0,94107

In [10]:
dfTrip.isnull().sum()

id                       0
duration                 0
start_date               0
start_station_name       0
start_station_id         0
end_date                 0
end_station_name         0
end_station_id           0
bike_id                  0
subscription_type        0
zip_code              6619
dtype: int64

In [11]:
dfWeather.isnull().sum()

date                                 0
max_temperature_f                    4
mean_temperature_f                   4
min_temperature_f                    4
max_dew_point_f                     54
mean_dew_point_f                    54
min_dew_point_f                     54
max_humidity                        54
mean_humidity                       54
min_humidity                        54
max_sea_level_pressure_inches        1
mean_sea_level_pressure_inches       1
min_sea_level_pressure_inches        1
max_visibility_miles                13
mean_visibility_miles               13
min_visibility_miles                13
max_wind_Speed_mph                   1
mean_wind_speed_mph                  1
max_gust_speed_mph                 899
precipitation_inches                 1
cloud_cover                          1
events                            3143
wind_dir_degrees                     1
zip_code                             0
dtype: int64

# Compute the daily trip number and average duration

In [88]:
# creat dfX
dfAll = pd.DataFrame(columns=['date','trip_num','trip_dur','trip_dur_avg'])

In [89]:
# ignore time in 'start_date'
dfTrip['start_date'][:2000] = pd.to_datetime(dfTrip['start_date'][:2000]).dt.date

# creat 'date' 
dfAll['date'] =pd.unique(dfTrip['start_date'][:2000])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [90]:
dfAll[:6]

         date trip_num trip_dur trip_dur_avg
0  2013-08-29      NaN      NaN          NaN
1  2013-08-30      NaN      NaN          NaN
2  2013-08-31      NaN      NaN          NaN

In [97]:
# compute 'trip_num' and 'trip_dur'
for d in dfTrip['start_date'][:6]:
    ind  = dfAll.index[dfAll['date']==d].tolist()[0]
    dfX['trip_num'].loc[ind] += 1
    print(d,ind,dfX['trip_num'].loc[ind])

2013-08-29 0 nan
2013-08-29 0 nan
2013-08-29 0 nan
2013-08-29 0 nan
2013-08-29 0 nan
2013-08-29 0 nan

In [94]:
d = dfX['date'][0]

In [69]:
ind  = dfX.index[dfX['date']==d].tolist()[0]

In [80]:
dfX['trip_num'].loc[ind]

nan

In [71]:
ind

0

In [95]:
dfAll[:6]

         date trip_num trip_dur trip_dur_avg
0  2013-08-29      NaN      NaN          NaN
1  2013-08-30      NaN      NaN          NaN
2  2013-08-31      NaN      NaN          NaN

In [100]:
dfTrip.shape

(669959, 11)

In [101]:
dfWeather.shape

(3665, 24)